body {
  max-width: 1920px;
  background-image: url("../images/full-bloom.png");
  background-size: 10%;
  margin: auto;
} /*position aboslute, top zero */
header {
  display: flex;
  height: 178px;
  max-width: 1920px;
}
.logo {
  min-width: 164px;
  min-height: 88px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-around;
}
main {
  height: 3000px;
}
.shevin {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 96px;
  font-style: italic;
  color: gray;
  letter-spacing: 50px;
}
.about {
  display: flex;
  align-content: center;
  margin-top: 20px;
}
.lorem {
  display: flex;
  width: 951px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 2px;
  word-spacing: 1px;
  margin: auto;
}
.flexbox-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  max-width: 1920px;
}
.info-box {
  margin: 40px;
  max-width: 555px;
  max-height: 483px;
}
.kontakt {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact {
  display: flex;
  width: 600px;
  margin: auto;
}
.contactinfo {
  width: 234px;
  height: 143px;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
  border: black 1px solid;
  border-radius: 10px;
  margin-left: 50px;
}
.social {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reach {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.media {
  display: inline;
  margin-left: 20px;
}