@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("https://fonts.google.com/specimen/Poppins");
}
body {
  min-width: 414px;
  background-color: #104843;
  background-size: 10%;
  margin: auto;
}
div{
  font-family: 'poppins';
}
header {
  display: flex;
  justify-content: center;
  min-height: 84px;
  min-width: 414px;
}
.logo-container {
  display: flex;
  justify-content: center;
  min-height: 80px;
  min-width: 392px;
  background-image: url("../images/full-bloom.png");
  background-size: 40%;
  border-radius: 5px;
}
.logo {
  height: auto;
  width: 100%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 5px;
}
.promo {
  margin-top: 4px;
  min-width: 414px;
  background-color: #ff6e05;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.sort {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  min-width: 414px;
  margin-top: 20px;
}
.sortby {
  display: inline-flex;
  justify-content: space-between;
  height: 25px;
  width: 256px;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
  border: 1px solid black;
  font-size: 20px;
  text-align: left;
  border-radius: 5px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.jacket {
  display: flex;
  float: left;
  width: 256px;
  height: 377px;
  background-image: url("../images/full-bloom.png");
  background-size: 40%;
  border: solid 1px black;
  margin: 4px 0px 10px 20px;
}
.card-shop {
  min-width: 111px;
  min-height: 171px;
  background-image: url("../images/jacket2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info-container {
  display: flex;
  width: 275px;
  height: 169px;
}
.review {
  color: #ff6e05;
  display: inline-flex;
  position: relative;
  top: 140px;
  left: 5px;
}
.far {
  color: black;
}
.jacket-name {
  position: relative;
  white-space: nowrap;
  right: 80px;
  top: 0px;
}
.card-text {
  border: #ff6e05 1px solid;
  text-align: start;
  font-size: 8px;
  font-style: italic;
  position: relative;
  right: 95px;
  top: 51px;
}
.price {
  font-size: 18px;
  font-style: italic;
  position: relative;
  top: 138px;
  right: 140px;
  margin: 0px;
}
.point-icon {
  position: relative;
  right: 280px;
  top: 80px;
}
.fa-hand-pointer {
  font-size: xx-large;
}
footer {
  display: flex;
  justify-content: center;
  height: 80px;
  min-width: 414px;
  background-image: url("../images/full-bloom.png");
  background-size: 20%;
  border: black 1px solid;
}
@media screen and (min-width: 620px) {
  body {
    max-width: 1920px;
    background-image: url("../images/full-bloom.png");
    background-size: 10%;
    margin: auto;
  }
  header {
    display: flex;
    justify-content: center;
    min-height: 84px;
    min-width: 414px;
    border: 1px solid black;
  }
  .logo {
    height: 39px;
    width: 73px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
  }
  .promo {
    min-width: 414px;
    background-color: #ff6e05;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }
  .sort {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    min-width: 414px;
    margin-top: 20px;
  }
  .sortby {
    display: inline-flex;
    justify-content: space-between;
    height: 25px;
    width: 256px;
    background-image: url("../images/full-bloom.png");
    background-size: 50%;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
  }
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .jacket {
    display: flex;
    float: left;
    width: 256px;
    height: 377px;
    background-image: url("../images/full-bloom.png");
    background-size: 40%;
    border: solid 1px black;
    margin: 4px 0px 10px 20px;
  }
  footer {
    display: flex;
    justify-content: center;
    height: 80px;
    min-width: 414px;
    background-image: url("../images/full-bloom.png");
    background-size: 20%;
    border: black 1px solid;
  }
}
