body {
  max-width: 1920px;
  background-image: url("../images/full-bloom.png");
  background-size: 10%;
  margin: auto;
} /*position aboslute, top zero */
header {
  display: flex;
  height: 178px;
  max-width: 1920px;
}
.logo {
  min-width: 164px;
  min-height: 88px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin: auto;
}
main {
  height: 5000px;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.shop {
  height: 35px;
  width: 100px;
  border: 1px solid lightblue;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
  border-radius: 10px;
}
.shop {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.icons {
  margin-top: 10px;
}
.coloumn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
.jacket-display {
  max-height: 500px;
  max-width: 500px;
  border: solid 1px black;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
}
.review {
  display: flex;
  justify-content: center;
  width: 392px;
  height: 171px;
  margin-left: 40px;
  border: black 1px solid;
}
.name {
  position: relative;
  top: 15px;
  left: 130px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.star {
  position: relative;
  top: 40px;
  right: 65px;
  color: #ff6e05;
}
.price {
  position: relative;
  top: 70px;
  left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.far {
  color: black;
}
.breadtext{
  position: relative;
  top: 150px;
  min-width: 200px;
  
}
.add-to-basket {
  width: 200px;
  height: 20px;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
  border: 1px black solid;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.material {
  display: flex;
  justify-self: center;
}
.material-info {
  max-width: 800px;
  background-image: url("../images/full-bloom.png");
  background-size: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: black;
}
.diverse-info {
  display: inline-flex;
  margin: auto;
  max-width: 800px;
}

.buy-info {
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 2px;
}
