@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("");
}
body {
  min-width: 414px;
  background-color: white;
  background-size: 10%;
  margin: auto;
}
div{
  font-family: 'poppins';
}

header {
  display: flex;
  justify-content: center;
  min-height: 84px;
  min-width: 414px;
}
.logo-container {
  display: flex;
  justify-content: center;
  min-height: 80px;
  min-width: 392px;
  background-image: url("../images/full-bloom.png");
  background-size: 40%;
  border-radius: 5px;
}
.logo {
  height: 39px;
  width: 73px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.shop {
  height: 35px;
  width: 100px;
  border: 1px solid lightblue;
  background-image: url("../images/full-bloom.png");
  background-size: 50%;
  border-radius: 10px;
}
.shop {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.jacket-specific {
  display: flex;
  justify-content: center;
  min-width: 392px;
  background-image: url("../images/full-bloom.png");
  background-size: 20%;
  border: 1px solid black;
}
.text {
  display: flex;
}
.slide {
  display: inline-flexbox;
  min-width: 414px;
  height: 670px;
  margin: auto;
  margin-top: 100px;
}
.offer {
  display: flex;
  white-space: nowrap;
  text-decoration: underline;
}
.thirty {
  display: flex;
  margin-left: 20px;
  width: fit-content;
  background-color: #ff6e05;
  border: black 1px solid;
  font-size: 18px;
  font-weight: bold;
}
.fa-hand-pointer {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: xx-large;
  height: fit-content;
}
.h2 {
  display: flex;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 24px;
}
.jacket-text {
  display: flex;
  min-width: 414px;
  margin-top: 21px;
  font-size: 0,5em;
  white-space: nowrap;
  text-align: start;
}
.text {
  display: flex;
  min-width: 380px;
}
.call-to-action {
  display: flex;
  min-width: 414px;
  justify-content:space-between;
  align-content: flex-start;
  margin-top: 60px;
} 
.price {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: fit-content;
  font-size: xx-large;
}
.add-to-basket {
  display: flex;
  width: 180px;
  height: 25px;
  background-color: #0FA958;
  color: black;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  font-size: inherit;
  font-weight: bold;
}

