body {
    max-width: 1920px;
    height: 3000px;
    background-image: url("../images/full-bloom.png");
    background-size: 15%;
    margin: auto;
}

.header {
    max-width: 1920px;
    height: 100px;
    border: 1px solid;
    background-image: url("../images/full-bloom.png");
    background-size: 15%;
    margin: auto;
}
.logo {
    min-width: 164px;
    min-height: 88px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 10px;
}
.navigation {
    display: flex;
}
.gender {
    justify-self: center;
}
.icons {
    display: inline-flex;
}